doctype html
html
    head
        title S-Py: CodeBreak Game
        link(rel="stylesheet" href="/styles.css") // Include your CSS
    body
        header
            h1 S-Py: CodeBreak
            nav
                ul
                    li: a(href="/auth/login") Login
                    li: a(href="/auth/register") Register
                    li: a(href="/game/dashboard") Dashboard
                    li: a(href="/leaderboard") Leaderboard
                    li: a(href="/auth/logout") Logout
        block content
        footer
            p &copy; 2024 S-Py: CodeBreak. All rights reserved - Howard Tan How Kiat TP067417.
